<html>
	<head>
		<title>Account Activation</title>
	</head>
	<body>
		{% if user.is_active %}
		<p>This account is active already.</p>
		{% else %}
		<p>Account for {{ user.username }} has been activated.</p>
		{% endif %}
	</body>
</html>